[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
disable=
    E0611, #no-name-in-module
    E0401, #(import-error)
    F0002, #(astroid-error)
    C0411, #(wrong-import-order)
    C0413, #(wrong-import-position)


good-names=
    id